<div class="page">
<div class="content">
<p>Nominee Details</p>
<div class="container">
    <form [formGroup]="nomDetForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="Firstname">Firstname</label>
            <input type="text" class="form-control" id="firstname" formControlName="firstname">
            <div *ngIf="nomDetForm.controls['firstname'].invalid && (nomDetForm.controls['firstname'].dirty || nomDetForm.controls['firstname'].touched)"
                class="alert alert-danger">
                <div *ngIf="nomDetForm.controls['firstname'].errors?.['required']">Firstname is required</div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="lastname">Lastname</label>
            <input type="text" class="form-control" id="lastname" formControlName="lastname">
            <div *ngIf="nomDetForm.controls['lastname'].invalid && (nomDetForm.controls['lastname'].dirty || nomDetForm.controls['lastname'].touched)"
                class="alert alert-danger">
                <div *ngIf="nomDetForm.controls['lastname'].errors?.['required']">Lastname is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="relation">Relation</label>
            <input type="text" class="form-control" id="relation" formControlName="relation">
            <div *ngIf="nomDetForm.controls['relation'].invalid && (nomDetForm.controls['relation'].dirty || nomDetForm.controls['relation'].touched)"
                class="alert alert-danger">
                <div *ngIf="nomDetForm.controls['relation'].errors?.['required']">Relation is required</div>
            </div>
        </div>

        <div class="dropdown">
            <label for="gender">Gender</label>
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Gender
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" >Male</a>
              <a class="dropdown-item" >Female</a>
              <a class="dropdown-item" >Others</a>
            </div>
          </div>

        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" class="form-control" id="phone" formControlName="phone">
            <div *ngIf="nomDetForm.controls['phone'].invalid && (nomDetForm.controls['phone'].dirty || nomDetForm.controls['phone'].touched)"
                class="alert alert-danger">
                <div *ngIf="nomDetForm.controls['phone'].errors?.['required']">Phone Number is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="dob">Date Of Birth</label>
            <input type="text" class="form-control" id="dob" formControlName="dob" placeholder="dd/mm/yyyy">
            <div *ngIf="nomDetForm.controls['dob'].invalid && (nomDetForm.controls['dob'].dirty || nomDetForm.controls['dob'].touched)"
                class="alert alert-danger">
                <div *ngIf="nomDetForm.controls['dob'].errors?.['required']">Date Of Birth is required</div>
            </div>
        </div>
        
        <button type="submit" class="btn btn-primary" [disabled]="!nomDetForm.valid">Next</button>
        <button type="button" class="btn btn-light">Back</button>
    </form>
</div>
</div>
</div>