<div class="container">
    <form> [formGroup]="uploadphotoform" (ngSubmit)="onSubmit()">
        <h2>Upload Photo</h2>
        <div class="form-group">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
            <div *ngIf="uploadphotoform.controls['card-img-top'].invalid && (uploadphotoform.controls['card-img-top'].dirty)"
                class="alert alert-danger">
                <div *ngIf="uploadphotoform.controls['card-img-top'].errors?.['required']">Upload valid photo</div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary btn-lg" type="submit" >Upload</button>
            <div *ngIf="uploadphotoform.controls['Upload'].invalid || uploadphotoform.controls['Upload'].touched" 
                class="alert alert-danger">
                <div *ngIf="uploadphotoform.controls['Upload'].errors?.['required']">Upload valid photo</div>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary btn-lg" type="submit" >Upload</button>
        <button type="search" class="btn btn-link ">Browse</button>
        <button type="search" class="btn btn-link ">Capture</button>
        <button type="button" class="btn btn-primary btn-block">Next</button> 
        <button type="button" class="btn btn-secondary btn-block">Back</button>
    </form>
</div>