body 
{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

form 
{
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
    box-shadow: 2px 2px 4px #ccc;
}

input[type="button"] 
{
    background-color: #00A4E4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover 
{
    background-color: #00A4E4;
}

input[type="search"]:hover 
{
    background-color: hsl(197, 63%, 66%);
}

.alert{color:red;}