<div class="page">
<div class="content">
<p>Unique Identification Number</p>
<div class="container">
    <form [formGroup]="uidForm" (ngSubmit)="onSubmit()">

        
        <div class="dropdown">
            <label for="doctype">Document Type</label>
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Select Doc
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" >Aadhar/Pan Number</a>
            </div>
          </div>
        

        <div class="form-group">
            <label for="aadhar">Aadhar Number</label>
            <input type="text" class="form-control" id="aadhar" formControlName="aadhar">
            <div *ngIf="uidForm.controls['aadhar'].invalid && (uidForm.controls['aadhar'].dirty || uidForm.controls['aadhar'].touched)"
                class="alert alert-danger">
                <div *ngIf="uidForm.controls['aadhar'].errors?.['required']">Aadhar Number is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="pan">Pan Number</label>
            <input type="text" class="form-control" id="pan" formControlName="pan">
            <div *ngIf="uidForm.controls['pan'].invalid && (uidForm.controls['pan'].dirty || uidForm.controls['pan'].touched)"
                class="alert alert-danger">
                <div *ngIf="uidForm.controls['pan'].errors?.['required']">Pan Number is required</div>
            </div>
        </div>

        
        <button type="submit" class="btn btn-primary" [disabled]="!uidForm.valid">Next</button>
        <button type="button" class="btn btn-light">Back</button>
    </form>
    
</div>
</div>
</div>
