<app-header></app-header>
<div class="otp-drawer-parent">
    <div class="container height-100 d-flex justify-content-center align-items-center">
        <div class="position-relative">
            <div class="card p-2 text-center">
                <h6>Please enter the one time password <br> to verify your account</h6>
                <div> <span>A code has been sent to</span> <small>*******9897</small> </div>
                <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2" [formGroup]="otpForm"
                    (ngSubmit)="onSubmit()">
                    <input class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1"
                        (keyup)="onDigitInput($event, 1)" formControlName="digit1" />
                    <input class="m-2 text-center form-control rounded" type="text" id="second" maxlength="1"
                        (keyup)="onDigitInput($event, 2)" formControlName="digit2" />
                    <input class="m-2 text-center form-control rounded" type="text" id="third" maxlength="1"
                        (keyup)="onDigitInput($event, 3)" formControlName="digit3" />
                    <input class="m-2 text-center form-control rounded" type="text" id="fourth" maxlength="1"
                        (keyup)="onDigitInput($event, 4)" formControlName="digit4" />
                </div>
                <div class="mt-4"> <button class="btn btn-block btn-lg btn-primary px-4 validate">Validate</button>
                </div>
            </div>
        </div>
    </div>
</div>