/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Poppins';
    src: url('link rel="preconnect" href="https://fonts.googleapis.com"') format('truetype');
    font-weight: normal;
    font-style: normal;
  }